.courses-section .courses-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.courses-section .course-card {
  display: flex;
  width: 45%;
  margin: 10px;
  height: 300px;
}
.courses-section .course-link {
  text-decoration: none; 
  color: inherit; 
  border: 3px solid;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.courses-section .course-link h3 {
  font-size: 30px;
  font-weight: 500;
}
.courses-section .course-link h4 {
  font-size: 20px;
  font-style: italic;
}

.courses-section #course-description {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 29px;
  margin-left: 30px;
  text-align: justify;
}

@media (max-width: 1600px) {
  .courses-section .course-card {
    width: 100%;
    justify-content: center;
  }

  .courses-section #course-description {
    margin: 0 10px;
  }
}

@media (max-width: 750px) {
  .courses-section .course-card {
    border: 3px solid;
  }
  .courses-section .course-link {
    border: 0;
  }
  .courses-section #course-description {
    font-size: 20px;
  }
}
